body {
  margin: 0 auto;
  max-width: 800px;
  width: 85%;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: rgb(71, 67, 24);
}

p {
  color: #333333;
  font-size: 1.3rem;
}

span {
  font-style: italic;
  color: orange;
}

.codeBgd {
  background-color: #eeeeee;
  padding: 1rem 1.2rem;
  display: block;
  margin-bottom: 1rem;
}


.code {
  font-size: 1.1rem;
}
